{% extends 'index.html.twig' %}

{% block content %}
    <div class="row page-404">
        <div class="col-sm-12 col-center text-center">
            <h1>404: Page not found</h1>
            <span>are you need this page?...really?</span>
            <span><a href="/">to main</a></span>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}