{% extends 'index.html.twig' %}

{% block content %}
    <section id="appPage" class="row">
        <div class="col-sm-12 text-center">
            It's you application page after authorization!
        </div>
        <div class="col-xs-12 col-sm-12">

        </div>
    </section>
{% endblock %}
{% block javascript %}
{% endblock %}