<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Node.js application</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
{% include 'modal-window.html.twig' %}
<div id="page">
    <header id="masthead" class="site-header" role="banner">
        <nav id="navbar" class="container navbar navbar-default" role="navigation">
            <div class="navbar-header col-md-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/" rel="home">node.js app</a>
            </div>
        </nav>
    </header>
    <div id="content" class="site-content">
        <section class="container">
            {% block content %}{% endblock %}
        </section>
        </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyright">&copy; node.js app template 0.0.1.
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
{% block javascript %}{% endblock %}
<script src="/js/Helper.js"></script>
<script>
    $(document).ready(function () {
        Helper.init();
    });
</script>
</body>
</html>