{% extends 'app.html.twig' %}

{% block content %}
    <div id="loginPage" class="row">
        <div class="col-sm-12 col-center text-center">
        </div>
        <div class="col-xs-12 col-md-7 col-sm-8 col-center">
            <div class="col-xs-12 col-md-7 col-sm-8 col-lg-5 col-center">
                {% include './login/'~namePage %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            Helper.initLoginPage();

            {% if apiMessage %}
                Helper.checkAPIMessage( {{ apiMessage | json_encode }} );
            {% endif %}
        });
    </script>
{% endblock %}