@import "partials/variables.less";
@import (inline) "partials/fonts.css";
@import (inline) "partials/reset.css";
@import "../vendor/bootstrap/less/normalize.less";
@import "../vendor/bootstrap/less/bootstrap.less";

/*** ANIMATIONS ***/
.spinner {
  position: absolute;
  right: -25px;
  top: 7px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/loading.gif") no-repeat;
}


/*** DEFAULT ***/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
html,
body {
  height: 100%;
}
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  min-width: 320px;
}
.col-center {
  float: none !important;
  margin: 0 auto !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}

.navbar-default {
  background: none;
  border: none;
}


/*** MODAL WINDOW ***/
.modal-dialog {

  .modal-content {
    border-radius: 0;
  }
  .modal-footer {
    padding: 0;
  }
  button.close {
    position: relative;
    z-index: 50;
    padding: 2px 6px;
  }
  p {
    margin: 0;
  }
}

/*** FORMS ***/
form {
  .row {
    margin-top: 10px;
  }

  input[type=button],
  input[type=submit]
  button[type=button],
  button[type=submit] {

    &.load {
      position: relative;

      &:before {
        content: '';
        .spinner;
      }
    }
  }
}

/*** FOOTER ***/
footer {
  width:100%;
  height:50px;
  position:absolute;
  bottom:0;
  left:0;

  .copyright {
    text-align: center;
  }
}