<form id="forgotPassword" class="login-form" data-action="/api/forgot-password">
    <h4>{{ title }}</h4>
    <div class="row">
        <div class="col-sm-12">
            <span>
                <input type="email" name="email" value="" class="form-control" placeholder="Email" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button id="forgotSubmit" type="submit" class="btn btn-success">Send</button>
        </div>
    </div>
</form>