<form id="resetPassword" class="login-form" data-action="/api/reset-password">
    <h4>{{ title }}</h4>
    <p>-</p>
    <div class="row">
        <div class="col-sm-12">
            <span>
                <input type="password" name="password" value="" class="form-control" placeholder="New Password" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span>
                <input type="password" name="password_confirm" value="" class="form-control" placeholder="Confirm New Password" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button id="resetSubmit" type="submit" class="btn btn-link">Send</button>
        </div>
    </div>
</form>