<form id="signInForm" class="login-form" data-action="/api/sign-in">
    <h4>{{ title }}</h4>
    {% include 'login/social-auth.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <span>
                <input type="email" name="email" value="" class="form-control" placeholder="Email*" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span>
                <input type="password" name="password" value="" class="form-control" placeholder="Password*"/>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button id="signInSubmit" type="submit" class="btn btn-success">Send</button>
        </div>
    </div>
    <div class="row links">
        <div class="col-sm-12">
            <div>new user? <a href="/sign-up">create account</a></div>
            <div>forgot password? <a href="/forgot-password">click here</a></div>
        </div>
    </div>
</form>