<form id="signUpForm" class="login-form" data-action="/api/sign-up">
    <h4>{{ title }}</h4>
    {% include 'login/social-auth.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <span>
                <input type="text" name="first_name" value="" class="form-control" placeholder="First Name*" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span>
                <input type="text" name="last_name" value="" class="form-control" placeholder="Last Name*" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span>
                <input type="email" name="email" value="" class="form-control" placeholder="Email*" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span>
                <input type="password" name="password" value="" class="form-control" placeholder="Password*" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span>
                <input type="password" name="password_confirm" value="" class="form-control" placeholder="Password Confirm*" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button id="signUpSubmit" type="submit" class="btn btn-success">Send</button>
        </div>
    </div>
</form>