/*** fonts ***/
@font-face {
  font-family: "Lineicon";
  src:  url("../fonts/Lineicon.eot");
  src:  url("../fonts/Lineicon.woff") format("woff"),
  url("../fonts/Lineicon.ttf") format("truetype"),
  url("../fonts/Lineicon.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/inconsolata-webfont.eot');
  src: url('../fonts/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/inconsolata-webfont.woff2') format('woff2'),
  url('../fonts/inconsolata-webfont.woff') format('woff'),
  url('../fonts/inconsolata-webfont.ttf') format('truetype'),
  url('../fonts/inconsolata-webfont.svg#inconsolatamedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?87889112');
  src: url('../fonts/fontello.eot?87889112#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff?87889112') format('woff'),
  url('../fonts/fontello.ttf?87889112') format('truetype'),
  url('../fonts/fontello.svg?87889112#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}